
<html>
<head><title>Yeah.</title></head>
<a href="/save/">Request a new save</a>

Render status:
{{ renders }}

<table>
    <tr>
        <td>Date</td>
        <td>Signature</td>
        <td>IP Address</td>
        <td>File</td>
        <td>Size</td>
    </tr>
    {% for save in saves %}
    <tr>
       <td>{{ save.date }} </td>
       <td>{{ save.signature }}</td>
       <td>{{ save.ip }}
       <td> <a href="/save/{{save.id}}"> Download</a></td>
       <td> {{ save.compressed_file.size }} Bytes</td>
    </tr>
{% endfor %}
</table>

</html>